* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #242424; */
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-weight: 400;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  height: 100%;
}