.form {
    width: 90%;
    margin-inline: auto;
    background-color: #242424;
    border-radius: 5px;
    border: 1px solid #5a71f2;
    margin-bottom: 3rem;
    padding: 2rem;

    &__create-user {
        color: black;
        width: 100%;
        margin-top: 5rem;
    }

    &__title {
        text-align: center;
        margin: 2rem 0;
    }

    &__box {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1.2rem;
        color: white;

        &-input {
            width: 100%;
            padding: 10px 15px;
            margin: 15px 0;
        }

        &-label {
            color: white;
        }
    }

    &__box-row {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        .form__box {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-inputRadio {
                margin-left: 10px;
            }
        }
    }

    &__btn-submit {
        border: 1px solid #5a71f2;
        padding: 10px 15px;
        background-color: unset;
        color: #5a71f2;
        text-align: center;
        cursor: pointer;

        display: flex;
        width: 140px;
        margin-inline: auto;
        margin-top: 2rem;
    }

    &__error {
        color: rgb(202, 16, 16);
        margin: 5px 0;
    }

    &__btn-back {
        background-color: white;
        border: none;

        text-align: center;
        cursor: pointer;
        margin: 0 4rem;

        width: 80px;
        padding: 5px 10px;
        transition: all 0.5s;
        border-radius: 2px;

        &:hover {
            background-color: #5a71f2;
        }
    }

    &__arrow-back {
        color: #242424;
        font-weight: bolder;
        display: flex;
        gap: 5px;
        align-items: center;
    }
}
